{% extends "base.html" %}
{% block title %}Movies · StrmVert{% endblock %}
{% block content %}
<div x-data="library()">
  <h1>Movies</h1>

  <form id="filter-form" class="filters"
        hx-get="/movies" hx-target="#results" hx-push-url="true"
        hx-trigger="change, keyup delay:450ms from:input[name='q']">
    {% include "partials/movie_filters.html" %}
  </form>

  <div id="results"
       data-tab="movies" data-view="{{ filters.view }}"
       data-page-url="/movies" data-qs-noview="{{ qs_noview }}">
    {% include "partials/movie_results.html" %}
  </div>

  {% include "partials/_actionbar.html" %}

  <template x-if="detailOpen">
    <div class="drawer-backdrop" @click.self="detailOpen = false" @keydown.escape.window="detailOpen = false">
      <div class="drawer" x-html="detailHtml"></div>
    </div>
  </template>
</div>
<script>document.addEventListener('DOMContentLoaded', restoreView);</script>
{% endblock %}
